.options-container {
    height:10em;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em 0;
}


.options-button {
    width: 25em;
    height: 5em;

}

