#inputText,
#inputPrice {
    border: none;
    width: 100%;
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.fotoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotoContainer p {
    margin-bottom: 3rem;
}

.fotoContainer Button {
    background-color: #9f9f9f;
    color: white;
    padding: .6rem 2rem;
}

.fotoContainer Button:hover {
    background-color: black;
}

.fotoContainer Button p {
    text-align: center;
    margin: 0;
}

.fotoContainer Button input {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#optionsLinks,
#optionsState {
    margin-top: 1rem;
    position: absolute;
    background-color: #d9d9d9;
    padding: .5rem 1rem;
}

#optionsLinks,
#optionsState p {
    cursor: pointer;
}