.card_product-component {
    width: 10em;
    height: 18em;
    border-radius: 0.5em;
    background-color: #a6a6a6;
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
}

.card_product-text {
    background-color: #d9d9d9;
    padding: 0.5em;
}

.card_product-favorite {
    margin: 0.5em;
    border-radius: 50%;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    cursor: pointer;
}

.card_product-img {
    width: 100%;
    max-height: 8em;
    object-fit: contain;
    
}

.card_product-text {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.card_product-text h2 {
    font-size: 1.2em;
}

.card_product-text p {
    font-size: 0.8em;
}