.ventas-main {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}
.title {
    background-color: #d9d9d9;
    padding: 2rem;
    margin: 2.5rem 0;
}
.btn-venta-container {
    background-color: #d9d9d9;
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-venta-container button {
    padding: 1rem 2rem;
}
.consejo-venta card {
    padding: 1rem;
}