.options-container {
    height:10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em 0;
    flex-grow: 1;
}

.home-container {
    width: 100%;
    /* position: absolute; */
    left: 0;    
}

.options-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .options-button-container {
        flex-direction: column;
        align-items: center;
        height: 200px;

    }
    
}

.destacados-contenedor {
    margin-bottom: 200px;
}

.contenedor-principal {
    display: flex;
    align-items: center;
}


.flecha-izquierda,
.flecha-derecha {
    float: left;
    border: none;
    padding-bottom: 10px;
    background: #000;
    font-size: 40px;
    height: 100%;
    line-height: 40px;
    width: 90px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.flecha-izquierda:hover {
    background: rgba(0, 0, 0, 1);
}


.flecha-derecha {
    float: right;
}

.contenedor-carousel {
    padding: 30px 0px;
    height: 340px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
}

.imagen {
    transition: .3s ease all;
    height: 100%;
    min-width: 33%;
}

.imagen img {
    width: 85%;
    vertical-align: top;
    height: 100%;
    transition: transform 0.5s;

}

.imagen img:hover {
    transform: scale(1.1);
}